<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>videoCodec</key>
	<integer>0</integer>
	<key>dynamicResolution</key>
	<false/>
	<key>autoFullscreen</key>
	<true/>
	<key>rumbleGamepad</key>
	<true/>
	<key>controllerDriver</key>
	<integer>0</integer>
	<key>useGCMouseDriver</key>
	<false/>
	<key>enableNewAppCoverArtAspectRatio</key>
	<false/>
</dict>
</plist>
